@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #fff7ed;
    display: flex;
    flex-direction: column;
}

.game-pad {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    align-items: center;
    justify-items: center;
    background: #f2ca98;
    gap: 4px;
    width: fit-content;
    align-self: center;
    position: relative;
}

#game-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    
}

.game-container {
    /* background-color: #ffedd5; */
    display: flex;
    flex-direction: column;
    width: max(40vw, 500px);
    padding: 20px;
    display: none;
}


.game-grid {
    background-color: #fff7ed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Merienda One', cursive;
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.player, .opponent {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    padding: 4px 10px 4px 10px;
    color: #8d5b18;
    font-weight: 900;
    min-width: 230px;
    justify-content: center;
}

.game-message {
    align-self: center;
    margin: 32px 0 45px 0;
}

.logo {
    text-align: center;
    font-size: max(4vw, 50px);
    font-family: 'Merienda One', cursive;
    margin: 30px;
    color: #cdb0a0;
    font-weight: 900;
}


button {
    background: #f2ca98;
    border: 1px solid #dea053;
    padding: 12px;
    font-size: 18px;
    color: #a36a23;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: inset 1px 1px #f4ece3;
    cursor: pointer;
    transition-duration: 400ms;
}

button:hover {
    background: #ffdbae;
}

.game-nav {
    margin-top: 50px;
    text-align: center;
}

.continue-popup {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #bdb7ae38;
    display: none;
    align-items: center;
    justify-content: center;
}

.choice-container {
    width: max(40vw, 500px);
    padding: 20px;
    gap: max(6vh, 30px);
    flex-direction: column;
    display: flex;
}

.custom-text {
    color: #75716b;
    font-size: 25px;
}

.custom-text-small {
    color: #75716b;
    font-size: 18px;
}

.choose-opponent {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #4b4843;
    animation-duration: 2s;
}


.choose-opponent div {
    cursor: pointer;
}

.human-opponent, .computer-opponent {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.human-opponent:hover, .computer-opponent:hover {
    opacity: 1;
}

.second-player-name-box {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;  
    text-align: left;
    font-size: 18px ;
}

.name-input {
    padding: 10px;
    width: 220px;
    background: #fff7ed;
    border: 1px solid #e4dcd2;
    box-shadow: inset 1px 1px 1px 0px #d1d1d1;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 300ms;  
}

#second-name-input:hover {
    border: 1px solid #d3c1aa;
}

input:focus {
    outline: none;
}

.choice-msg {
    text-align: center;
    font-size: 24px;
    margin: 40px;
    color: #836a4a;
}

.player-name-choose {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    gap: 15px;
    margin-top: min(10vh, 60px);
}



@media only screen and (max-width: 600px) {
    .game-info {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

    }
}